# Credenciais do painel EmailJS
NEXT_PUBLIC_SERVICE_ID=service_xxxxxxx
NEXT_PUBLIC_TEMPLATE_ID=template_xxxxxxx
NEXT_PUBLIC_USER_ID=sua_public_key
# URL pública do site (sem barra no final)
NEXT_PUBLIC_SITE_URL=https://arrudabombas.com.br/
